{% extends 'base.html' %} 

{% block title %}Notes Table{% endblock %} 

{% block content %}
<div class="container">
  <div class="table-title">
    <h2>Message's Table</h2>
  </div>
  <section class="tableWrapper">
    <div class="table-container table-responsive">
      <table
        border="2px"
        class="table table-primary table-bordered table-striped"
      >
        <thead>
          <tr class="table-head" style="text-align: center">
            <th>From</th>
            <th>To</th>
            <th>Title</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody style="text-align: justify">
          {% for note in notes %}
          <tr>
            <td>{{note.sender}}</td>
            <td>{{note.to}}</td>
            <td>{{note.title}}</td>
            <td>{{note.message}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</div>
{% endblock %}
