{% extends 'base.html' %} 

{% block title %}Add Notes{% endblock %}

{% block content %}
<div class="container">
  <div class="table-title">
    <h2>Add Message's</h2>
  </div>
  <div class="containerForm">
    <form
      action=""
      method="POST"
      style="display: flex; flex-direction: column; gap: 12px"
    >
      {% csrf_token %}
      <div class="fieldWrapper">
        {{ form.sender.errors }}
        <label
          for="{{ form.sender.id_for_label }}"
          class="d-flex justify-content-start w-100"
          >Sender:</label
        >
        <div class="d-flex justify-content-end w-100">{{ form.sender}}</div>
      </div>
      <div class="fieldWrapper">
        {{ form.to.errors }}
        <label
          for="{{ form.to.id_for_label }}"
          class="d-flex justify-content-start w-100"
          >To:</label
        >
        <div class="d-flex justify-content-end w-100">{{ form.to }}</div>
      </div>
      <div class="fieldWrapper">
        {{ form.title.errors }}
        <label
          for="{{ form.title.id_for_label }}"
          class="d-flex justify-content-start w-100"
          >Title:</label
        >
        <div class="d-flex justify-content-end w-100">{{ form.title }}</div>
      </div>
      <div class="fieldWrapper">
        {{ form.message.errors }}
        <label
          for="{{ form.message.id_for_label }}"
          class="d-flex justify-content-start w-100"
          >Message:</label
        >
        <div class="d-flex justify-content-end w-100">{{ form.message }}</div>
      </div>
      <div style="width: 100%; display: flex; justify-content: center">
        <button type="submit" class="btn btn-primary">Add Notes</button>
      </div>
    </form>
    <div></div>
  </div>
</div>
{% endblock %}