@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

* {
  font-family: poppins;
}

body{
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 20px 0px;
}

.message-wraper {
  border-radius: 12px;
  background-color: #f2d13f;
  width: 600px;
  height: 400px;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1),
    0px 10px 10px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  gap: 8px;
  color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: center;
  align-content: center;
  padding: 0px 64px;
  gap: 24px;
}

.message-gap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.message-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0px 32px;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

.fontBold {
  font-weight: bold;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.message::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.message {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.title {
  display: flex;
  justify-content: center;
  text-align: center;
}