<!-- Modal -->
<div
  class="modal fade"
  id="modalEdit"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
      <form
          action=""
          method="POST"
          style="
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding: 20px;
          "
          id="form-update"
        >
          {% csrf_token %}
          {{ forma }}
          <div style="width: 100%; display: flex; justify-content: center">
            <button type="submit" class="btn btn-primary" id="editBtn" data-bs-dismiss="modal">Edit Notes</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
