{% extends 'base_lab5.html' %} {% block title %}Notes Table{% endblock %} 

{% block content %}
<div class="container">
  <div class="loading" id="loading">Loading...</div>
  <div class="table-title">
    <h2>Message's Table</h2>
  </div>
  <section class="tableWrapper">
    <div class="table-container table-responsive">
      <table
        border="2px"
        class="table table-primary table-bordered table-striped"
      >
        <thead>
          <tr class="table-head" style="text-align: center">
            <th>From</th>
            <th>To</th>
            <th>Title</th>
            <th>Message</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody style="text-align: justify" class="tblbdy" id="tablebody">
          
        </tbody>
      </table>
    </div>
  </section>
</div>
{% include 'view_modal.html' %}
{% include 'delete_modal.html' %}
{% include 'edit_modal.html' %}
{% endblock %}
