<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <section
      style="display:flex; justify-content: flex-start;"
    >
      <a href={% url 'index_lab3' %} style="text-decoration: none;">
        <span>&lt;</span>
        Back to Friend List
      </a>
    </section>
    <section>
      <form
        action=""
        method="POST"
        style="
          display: flex;
          flex-direction: column;
          gap: 8px;
          align-items: center;
        "
      >
        {% csrf_token %}
        <div
          style="
            display: flex;
            flex-direction: column;
            gap: 8px;
            align-items: center;
          "
        >
          <h2>Add Your Friend</h2>
          <div
            style="
              display: flex;
              flex-direction: column;
              width: max-content;
              gap: 8px;
            "
          >
            {{ form }}
          </div>
          <input type="submit" value="Add" />
        </div>
      </form>
    </section>
  </body>
</html>
