<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body style="display:flex; flex-direction: column; gap: 12px; align-items: center; justify-content: center; min-height: 100vh;">
    <table border="2px">
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      {% for friend in friends %}
        <tr>
          <td>{{friend.name}}</td>
          <td>{{friend.npm}}</td>
          <td>{{friend.tanggal_lahir}}</td>
        </tr>
      {% endfor %}
    </table>
    <a href={% url 'add' %}>
      <button>
        Add Your Friend Here
      </button>
    </a>
  </body>
</html>
