{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes List</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="title">
        <h2>Message From, To..</h2>
      </div>
      <div class="wrapper">
        {% for note in notes %}
        <div class="message-wraper">
          <div>
            <h1 class="fontBold">{{note.title}}</h1>
          </div>
          <div class="message-gap">
            <div class="message-content">
              <h3>From:</h3>
              <p>{{note.sender}}</p>
            </div>
            <div class="message-content">
              <h3>To:</h3>
              <p>{{note.to}}</p>
            </div>
            <div class="message-content">
              <h3>Message:</h3>
              <div style="overflow: auto; height: 180px" class="message">
                <p style="text-align: justify">{{note.message}}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
